/* === Fluent DropDown === */
.gradio-dropdown ul.options li.item.selected {
  background: var(--fnt-surface1) !important;
}
.gradio-dropdown ul.options li.item:hover {
  background: var(--fnt-surface0) !important;
}

.gradio-dropdown ul.options {
  background: rgba(0, 0, 0, 0.6) !important;
  border: solid 2px transparent;
  backdrop-filter: blur(10px) grayscale(0.6) !important;
  box-shadow: 0 0 0 1px color-mix(in srgb, var(--fnt-surface0), var(--fnt-accent) 70%) !important;
}
.gradio-dropdown ul {
  margin-top: 8px;
  margin-bottom: 4px;
}