/* === ScrollBar === */
::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}
::-webkit-scrollbar-thumb {
  background: var(--fnt-surface2) !important;
  border-radius: 8px;
  border: 3px solid var(--fnt-mantle);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--fnt-accent) !important;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--fnt-mantle) !important;
  border-radius: 8px;
}
/* FireFox */
@-moz-document url-prefix() {
  :root, .dark {
    scrollbar-width: auto;
    scrollbar-color: var(--fnt-surface2) var(--fnt-mantle);
  }
}