:root {
  /* ACCENT COLOR | THEME STYLE */
  --fnt-rose: #db88ae;
  --fnt-error: #ff6747;
  --fnt-border-radius: 8px;
  --fnt-border-width: 1px;

  --fnt-pink: #d9b8b8;
  --fnt-red: #ff5252;
  --fnt-peach: #f6d992;
  --fnt-yellow: #e9d700;
  --fnt-green: #77ab59;
  --fnt-blue: #6d90c8;

  /* UI COLOR */
  --fnt-text: #d1d5d7;
  --fnt-subtext2: #939a9c;
  --fnt-subtext1: #d3dce0;
  --fnt-subtext0: #bbc2c6;
  --fnt-overlay2: #242424;
  --fnt-overlay1: #1c1c1c;
  --fnt-overlay0: #141414;
  --fnt-surface2: #475254;
  --fnt-surface1: #3d4142;
  --fnt-surface0: #22282a;
  --fnt-base2: #232323;
  --fnt-base1: #171717;
  --fnt-base0: #131313;

  --fnt-mantle: #0b0b0b;
  --fnt-shadow: #010409;

  --fnt-accent: var(--fnt-blue);
  color-scheme: dark;
}

:root, .dark {
  /* Basic colors and background */
  --color-accent: var(--fnt-accent);
  --color-accent-soft: var(--fnt-surface0);

  /* Shadows */
  --shadow-spread: none;

  /* Backgrounds */
  --background-fill-primary: var(--fnt-mantle);
  --background-fill-secondary: var(--fnt-base0);
  --body-background-fill: var(--background-fill-primary);
  --body-text-color: var(--fnt-subtext0);
  --body-text-color-subdued: var(--fnt-subtext2);
  /* Borders */
  --border-color-primary: var(--fnt-surface0);
  --border-color-accent: var(--fnt-surface0);
  --border-color-accent-subdued: var(--border-color-accent);
  /* Links */
  --link-text-color: var(--fnt-subtext0);
  --link-text-color-hover: var(--color-accent);
  --link-text-color-active: var(--link-text-color);
  --link-text-color-visited: var(--link-text-color);
  /* Blocks */
  --block-background-fill: var(--background-fill-primary);
  --block-border-color: var(--border-color-primary);
  --block-border-width: none;
  --block-shadow: none;
  --block-info-text-color: var(--body-text-color-subdued);
  --block-label-background-fill: var(--background-fill-secondary);
  --block-label-border-color: var(--border-color-primary);
  --block-label-border-width: none;
  --block-label-text-color: var(--fnt-text);
  --block-title-background-fill: none;
  --block-title-border-color: none;
  --block-title-border-width: none;
  --block-title-text-color: var(--fnt-text);
  /* Panels */
  --panel-background-fill: var(--background-fill-secondary);
  --panel-border-color: var(--border-color-primary);
  --panel-border-width: none;
  /* Inputs */
  --input-background-fill: var(--fnt-base1);
  --input-background-fill-hover: var(--input-background-fill);
  --input-background-fill-focus: var(--input-background-fill);
  --input-border-color: var(--border-color-primary);
  --input-border-color-hover: var(--input-border-color);
  --input-border-color-focus: var(--fnt-surface1);
  --input-border-width: var(--fnt-border-width);
  --input-shadow: none;
  --input-placeholder-color: var(--fnt-surface1);
  /* Checkboxes */
  --checkbox-background-color: var(--fnt-surface1);
  --checkbox-background-color-hover: var(--fnt-surface2);
  --checkbox-background-color-focus: var(--checkbox-background-color);
  --checkbox-background-color-selected: var(--color-accent);
  --checkbox-border-color: var(--fnt-surface2);
  --checkbox-border-color-hover: transparent;
  --checkbox-border-color-focus: transparent;
  --checkbox-border-color-selected: transparent;
  --checkbox-border-width: var(--fnt-border-width);
  --checkbox-check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='--fnt-mantle' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --radio-circle: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='--fnt-mantle' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  --checkbox-label-background-fill: var(--fnt-surface0);
  --checkbox-label-background-fill-hover: var(--checkbox-label-background-fill);
  --checkbox-label-background-fill-selected: var(--fnt-surface1);
  --checkbox-label-border-color: var(--border-color-primary);
  --checkbox-label-border-color-hover: var(--checkbox-label-border-color);
  --checkbox-label-border-width: var(--fnt-border-width);
  --checkbox-label-gap: 4px;
  --checkbox-label-text-color: var(--body-text-color);
  --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
  /* Errors */
  --error-background-fill: var(--background-fill-primary);
  --error-border-color: var(--color-accent);
  --error-border-width: none;
  --error-text-color: var(--fnt-text);
  --error-icon-color: var(--color-accent);
  /* Buttons */
  --button-border-width: var(--fnt-border-width);
  --button-primary-background-fill: var(--color-accent);
  --button-primary-background-fill-hover:  var(--button-primary-background-fill);
  --button-primary-border-color: var(--color-accent);
  --button-primary-border-color-hover: var(--button-primary-border-color);
  --button-primary-text-color: var(--fnt-base0);
  --button-primary-text-color-hover: var(--button-primary-text-color);
  --button-secondary-background-fill: var(--fnt-surface0);
  --button-secondary-background-fill-hover: var(--button-secondary-background-fill);
  --button-secondary-border-color: var(--fnt-surface0);
  --button-secondary-border-color-hover: var(--button-secondary-border-color);
  --button-secondary-text-color: var(--fnt-text);
  --button-secondary-text-color-hover: var(--button-secondary-text-color);
  --button-cancel-background-fill: var(--fnt-red);
  --button-cancel-background-fill-hover: var(--button-cancel-background-fill);
  --button-cancel-border-color: var(--fnt-red);
  --button-cancel-border-color-hover: var(--button-cancel-border-color);
  --button-cancel-text-color: var(--fnt-base0);
  --button-cancel-text-color-hover: var(--button-cancel-text-color);
  /* Tables */
  --table-border-color: var(--fnt-surface1);
  --table-even-background-fill: var(--fnt-base1);
  --table-odd-background-fill: var(--fnt-base2);
  --table-row-focus: var(--color-accent-soft);

  /* Others */
  --chatbot-code-background-color: var(--background-fill-primary);
  --stat-background-fill: var(--fnt-surface1);
  --loader-color: var(--color-accent);
  --slider-color: var(--color-accent);

  /* Params */
  --neutral-900: var(--fnt-base1);
  --neutral-950: var(--fnt-mantle);
}

/* HTML */
html, body { background: var(--fnt-mantle) !important; }
a:hover { color: var(--fnt-accent) !important; }

select:focus,
input[type='search']:focus {
  outline: none !important;
  border: 1px solid var(--fnt-surface1) !important;
}

::selection {
  background: var(--fnt-surface1);
}
::-moz-selection { /* Code for Firefox */
  background: var(--fnt-surface1);
}

/* Hide text-field arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield !important;
}


/* Gradio Fiches */
/* Rounded Gradio Elements */
.gradio-row, .wrap, label, .block, .lg, .primary, .secondary, .gradio-button {
  border-radius: var(--fnt-border-radius) !important;
}
.wrap, label, .block { gap: 4px !important; }

/* Tabs Navigation (Accent Color) */
#tabs > .tab-nav > button.selected,
#txt2img_extra_tabs > .tab-nav > button.selected,
#img2img_extra_tabs > .tab-nav > button.selected,
#mode_img2img > .tab-nav > button.selected,
#tabs .gradio-tabs > .tab-nav > button.selected {
  color: var(--fnt-accent);
}

/* Selected items (tokens) in multi-select dropdown */
.wrap-inner { gap: 4px !important; }
.wrap-inner > div.token {
  border-radius: var(--fnt-border-radius) !important;
  padding: 4px 8px !important;
}

div.gradio-group > *:not(.absolute) {
  /* margin-bottom: 2px; */
  gap: 2px;
}

button:hover,
.gradio-button:hover,
button.lg.primary:hover,
button.lg.secondary:hover {
  filter: brightness(125%);
}

button.lg.compact {
  background-color: var(--button-secondary-background-fill) !important;
}

input[type='radio'],
input[type='checkbox'] {
  cursor: pointer;
  accent-color: var(--fnt-accent);
}


/* Main customizations */
/* Generate/Interrupt/Skip Button Style */
.gradio-button.generate-box-skip,
.gradio-button.generate-box-interrupt,
.gradio-button.generate-box-interrupting {
  color: var(--fnt-base0) !important;
  transition: all 0.1s ease;
  border: none;
}

.gradio-button.generate-box-skip,
.gradio-button.generate-box-interrupt {
  background: var(--fnt-accent) !important;
}
.gradio-button.generate-box-skip:hover,
.gradio-button.generate-box-interrupt:hover {
  filter: brightness(80%) !important;
}

.gradio-button.generate-box-interrupting {
  background: var(--fnt-error) !important;
}

/* Button borders and borders radius */
#txt2img_skip, #img2img_skip {
  border-left: solid 2px var(--fnt-base0); /* Separation line of Interrupt & Skip buttons */
  border-radius: 0 var(--fnt-border-radius) var(--fnt-border-radius) 0 !important;
}

#txt2img_interrupt, #img2img_interrupt,
#txt2img_interrupting, #img2img_interrupting {
  border-radius: var(--fnt-border-radius) 0 0 var(--fnt-border-radius) !important;
}


/* Other Customizations */
.block.token-counter span {
  box-shadow: none;
}

.progressDiv .progress {
  background: var(--fnt-accent);
  color: var(--fnt-shadow);
}
.dark .progressDiv,
.progressDiv {
  background: var(--fnt-surface0);
}

.block.gradio-gallery {
  box-shadow: var(--block-shadow);
  border-width: var(--block-border-width);
  border-color: var(--block-border-color);
  border-radius: var(--block-radius);
  background: var(--block-background-fill);
}
.block.gradio-accordion {
  box-shadow: var(--block-shadow);
  border-width: var(--block-border-width);
  border-color: var(--block-border-color);
  border-radius: var(--block-radius);
}


/* HUETA */
/* Menu when right-clicking on the “Generate” button */
#context-menu {
  box-shadow: none;
  border-color: var(--fnt-surface2);
  border-radius: var(--fnt-border-radius) !important;
}
.context-menu-items a {
  background: var(--fnt-base1);
  border-radius: var(--fnt-border-radius) !important;
}
.context-menu-items a:hover {
  color: var(--fnt-text) !important;
  background: var(--fnt-surface0);
}


/* === SLIDERS STYLE === */
input[type='range'] {
  width: 100%;
  font-size: 1.5rem;
  background: transparent;
  overflow: hidden;
  accent-color: var(--slider-color);
  color: var(--fnt-accent);

  --thumb-height: 0.5em;
  --thumb-width: var(--thumb-height);
  --track-height: 0.125em;
  --track-color: var(--fnt-surface0);
  --clip-edges: 0.125em;
  --brightness-hover: 130%;
  --brightness-down: 80%;
}

input[type='range'].win10-thumb {
  --thumb-height: 0.5em;
  --thumb-width: 0.5em;
  --clip-edges: 0.0125em;
}

input[type='range']:active {
  cursor: grabbing;
}
input[type='range']:disabled {
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}


/* === WebKit === */
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type='range']::-webkit-slider-thumb {
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width)) 0 0 100vmax currentColor;

  width: var(--thumb-width);
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width);
  filter: brightness(100%);
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

input[type='range']:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: grab;
}
input[type='range']:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}
input[type='range']:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

/* === Firefox === */
input[type='range'],
input[type='range']::-moz-range-track,
input[type='range']::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type='range']::-moz-range-track,
input[type='range']::-moz-range-thumb,
input[type='range']::-moz-range-progress {
  background: #fff0;
}

input[type='range']::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width);
  border-radius: var(--thumb-width);
  cursor: grab;
}
input[type='range']:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type='range']::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}
input[type='range']::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type='range']::-moz-range-track,
input[type='range']::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type='range']::-moz-range-thumb,
input[type='range']::-moz-range-progress {
  filter: brightness(100%);
}
input[type='range']:hover::-moz-range-thumb,
input[type='range']:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type='range']:active::-moz-range-thumb,
input[type='range']:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}
input[type='range']:disabled::-moz-range-thumb {
  cursor: not-allowed;
}


/* all of the input range stuff is from this guy*/
/* Shout out to them https://codepen.io/ShadowShahriar/pen/zYPPYrQ */